<!doctype html>
<html>
<head>
    <title>Cryptochat</title>

    <link rel="stylesheet" href={{ url_for('client.static', filename='chat.css') }}>

    <script>
        var CONFIG = JSON.parse('{{ config.CHAT | tojson }}') // Wrapped only to improve syntax highlighting
    </script>
    <script type="text/javascript" src={{ url_for('client.static', filename='cipher.js') }}></script>
    <script type="text/javascript" src={{ url_for('client.static', filename='chat.js') }}></script>
</head>

<body>
    <aside>
        <h2> Incoming </h2>
        <p>
            <select id="incoming-cipher" onchange="incoming_cipher.select_option(this.value);"></select> <br>
            <input id="incoming-key" type="text" class="hidden">
        </p>
        <button id="incoming-refresh" type="button" onclick="save_incoming_settings();"> Refresh Chat </button>
        <p id="incoming-error" class="error hidden">blank</p>

        <h2> Outgoing </h2>
        <p>
            <select id="outgoing-cipher" onchange="outgoing_cipher.select_option(this.value);"></select> <br>
            <input id="outgoing-key" type="text" class="hidden">
        </p>
        <p id="outgoing-error" class="error hidden">blank</p>
    </aside>

    <section>
        <article class="monospace"></article>

        <form class="message-entry" onsubmit="send_message(this); return false;">
            <textarea name="message" cols="10" autofocus placeholder="Enter your message..."></textarea>
            <input type="submit" id="message-submit" class="hidden">
        </form>
    </section>
</body>
</html>
